body {
  background-color: #e0dccd; }

.wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.header {
  width: 1002px;
  height: 100px;
  background: linear-gradient(to right, #1f1f21, #28282a, #1f1f21); }
  .header .header-top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    height: 71px;
    width: 100%;
    border-bottom: 1px solid #f2ab7f; }
    .header .header-top .header-caption {
      color: #fff;
      font-family: 'GFS Didot', serif;
      font-style: italic;
      font-size: 36px;
      line-height: 39.42px; }
  .header .header-bottom {
    margin: 0 auto;
    height: 25px;
    width: 59px;
    border-top: 3px solid #f2ab7f; }
